@model IEnumerable<SondageSoiree.Models.Entity.Vote>

@{
    ViewBag.Title = "ResultatVote";
}

<h2>ResultatVote</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Eleve.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sondage.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Eleve.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sondage.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
