@model IEnumerable<SondageSoiree.Models.Entity.Restaurant>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Liste des restaurants</h3>
    <hr />
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Créer un nouveau restaurant", "CreerRestaurant")
        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Modifier", "ModifierRestaurant", new { id=item.Id })
                }
                @Html.ActionLink("Detail", "AfficherRestaurant", new { id = item.Id })
                
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
